# --- Compiled Binaries & Objects ---
*.o
*.a
*.so
*.lo
*.la
.libs/
.deps/
# Ignore hidden .depend files recursively
.depend

# --- Build System Outputs ---
Makefile
Makefile.in
Make-config
configure
config.log
config.status
config.cache
aclocal.m4
autom4te.cache/
compile
install-sh
missing
depcomp
libtool
ltmain.sh
stamp-h1
ar-lib
export

# --- Source Specific Ignores ---
# Ignore libs folders inside src or subfolders
**/libs/

# --- IDE & System Files ---
.vscode/
.idea/
*.swp
*~
.DS_Store

# --- TORCS Specific Data ---
runtime/
export/

# --- Your Custom Data ---
DrivingData/*.json
DrivingData/*.csv
src/linux/torcs-bin
src/tools/package/specfiles/torcs-data-cars-extra.spec
src/tools/package/specfiles/torcs-data-cars-kcendra-gt.spec
src/tools/package/specfiles/torcs-data-cars-kcendra-sport.spec
src/tools/package/specfiles/torcs-data-tracks-base.spec
src/tools/package/specfiles/torcs.spec
.gitignore
src/tools/package/specfiles/torcs-robot-K1999.spec
src/tools/package/specfiles/torcs-robot-base.spec
src/tools/package/specfiles/torcs-data.spec
src/tools/package/specfiles/torcs-data-cars-Patwo-Design.spec
src/tools/package/specfiles/torcs-data-cars-kcendra-roadsters.spec
src/doc/torcsdoc.conf
src/doc/torcsdoc.conf
.torcs.rc
src/doc/torcsdoc.conf
src/doc/torcsdoc.conf
